<template>
  <div>
    <GoBack />
    <h1>Unsplash</h1>
    <div class="pagination">
      <b-pagination-nav
        :linkGen="linkGen"
        :number-of-pages="numberOfPages"
        base-url="#"
        first-text="First"
        prev-text="Prev"
        last-text="Last"
        next-text="Next"
      ></b-pagination-nav>
    </div>
    <transition name="fade" mode="out-in">
      <b-container v-if="!loading" key="lo  aded">
        <b-card-group class="photo-card" columns>
          <CardPhoto
            v-for="photo in photosMock"
            :key="photo.id"
            :photo="photo"
            style="margin-top:5px"
          ></CardPhoto>
        </b-card-group>
      </b-container>
      <b-container class="pt-5" v-else></b-container>
    </transition>
  </div>
</template>

<script>
import CardPhoto from '@/components/CardPhoto.vue'
import GoBack from '@/components/GoBack.vue'
import { usePhotosList } from '@/compositions/usePhotosList.js'
import { computed } from '@vue/composition-api'
import get from 'lodash.get'

export default {
  components: {
    CardPhoto,
    GoBack,
  },
  props: {
    page: Number,
  },
  setup(props, context) {
    const page = computed(() => {
      return get(context, 'root.$route.query.page', 1)
    })

    const { photosMock, numberOfPages, loading } = usePhotosList(page)

    const linkGen = (pageNum) => {
      return {
        path: `?page=${pageNum}`,
      }
    }

    return {
      photosMock,
      numberOfPages,
      loading,
      linkGen,
    }
  },
}
</script>

<style scoped>
.pagination {
  justify-content: center;
}
</style>
