<template>
  <div>
    <GoBack />
    <h1>Photo Details</h1>
    <ul>
      <li>Width: {{ photoDetails.width }}, Height: {{ photoDetails.height }}</li>
      <li>Location: {{ location }}</li>
      <li>Description: {{ photoDetails.description }}</li>
    </ul>
    <b-img thumbnail fluid :src="regularImage" alt="Image"></b-img>
  </div>
</template>

<script>
import GoBack from '@/components/GoBack.vue'
// import photos from "../mock_api/photos.json";
import { computed } from '@vue/composition-api'
import get from 'lodash.get'
import { usePhotoDetails } from '../compositions/usePhotoDetails.js'

export default {
  components: {
    GoBack,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  setup(props, context) {
    const id = computed(() => {
      console.log(context)
      return get(context, 'root.$route.params.id', 1)
    })

    const { photoDetails, loading, location, regularImage } = usePhotoDetails(
      id
    )

    return {
      photoDetails,
      loading,
      location,
      regularImage,
    }
  },
}
</script>

<style scoped></style>
