<template>
  <div>
    <GoBack />
    <h1>{{ $route.params.username }}'s Details</h1>
    <div>
      <div class="mb-4">
        <b-avatar variant="info" :src="profileImageMedium" size="6rem"></b-avatar>
        <h5>{{ userInfo.name }}</h5>
      </div>
    </div>
    <div class="pagination">
      <b-pagination-nav :linkGen="linkGen" number-of-pages="10" base-url="#"></b-pagination-nav>
    </div>
    <div class="photo_card">
      <div class="list_photos_card" v-for="photo in photosMock" :key="photo.id">
        <UserPhoto :photo="photo" style="margin-top:5px"></UserPhoto>
      </div>
    </div>
  </div>
</template>

<script>
import UserPhoto from '@/components/UserPhoto.vue'
import GoBack from '@/components/GoBack.vue'
// import photos from "../mock_api/photos.json";
import { useUserPage } from '@/compositions/useUserPage.js'
import get from 'lodash.get'
import { computed } from '@vue/composition-api'

export default {
  components: {
    UserPhoto,
    GoBack,
  },
  props: {
    username: {
      type: String,
      required: true,
    },
    page: {
      type: Number,
      required: true,
    },
  },
  setup(props, context) {
    const page = computed(() => {
      return get(context, 'root.$route.params.page', 1)
    })

    const username = computed(() => {
      return get(context, 'root.$route.params.username', 'default username')
    })

    const { photosMock, userInfo, loading, profileImageMedium } = useUserPage(
      username,
      page
    )

    const linkGen = (pageNum) => {
      return {
        path: `/users/${username.value}/${pageNum}`,
      }
    }

    return {
      loading,
      photosMock,
      userInfo,
      linkGen,
      profileImageMedium,
    }
  },
}
</script>

<style scoped>
.photo_card {
  display: flex;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vw;
}

.pagination {
  justify-content: center;
}
</style>
