<template>
  <b-card
    img-alt="Image"
    tag="article"
    class="image_card photo_card_inner"
    bg-variant="dark"
    text-variant="white"
    no-body
  >
    <router-link :to="{ path: `/photos/${photo.id}` }">
      <b-card-img-lazy top img-alt="Image" :src="regularImage" />
    </router-link>
    <b-card-body>
      <b-card-title>{{ photo.alt_description }}</b-card-title>
      <b-card-text>Total likes {{ photo.user.total_likes }}</b-card-text>
      <b-card-text>
        Total photos
        {{ photo.user.total_photos }}
      </b-card-text>
      <b-button
        variant="primary"
        :to="{ path: `/users/${photo.user.username}` }"
      >{{ photo.user.name }}</b-button>
    </b-card-body>
  </b-card>
</template>

<script>
import { computed } from '@vue/composition-api'
import get from 'lodash.get'
export default {
  props: {
    photo: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    const imageClick = () => {}

    const regularImage = computed(() => {
      return get(props.photo, 'urls.regular', 'default image')
    })

    return {
      regularImage,
      imageClick,
    }
  },
}
</script>

<style scoped>
.photo_card_inner:hover {
  opacity: 0.85;
}
</style>
