<template >
  <span class="go-back">
    <b-button-group>
      <b-button pill variant="info" class="mb-2 d-flex justify-content-center" @click="goBack">
        <b-icon icon="arrow-left-circle" aria-hidden="true" class="mr-1"></b-icon>Back
      </b-button>
    </b-button-group>
  </span>
</template>

<script>
export default {
  setup(props, context) {
    const goBack = () => {
      return context.root.$router.go(-1)
    }
    return {
      goBack,
    }
  },
}
</script>

<style scoped>
.go-back {
  display: flex;
  cursor: pointer;
}
</style>
