<template>
  <div class="photo_card_inner">
    <b-card
      :title="photo.alt_description"
      img-alt="Image"
      tag="article"
      style="max-width: 20rem;"
      class="image_card"
      no-body
    >
      <router-link :to="{ path: `/photos/${photo.id}` }">
        <b-card-img top img-alt="Image" :src="photo.urls.regular" />
      </router-link>
      <b-card-body>
        <b-card-text>{{ photo.description }}</b-card-text>
        <b-card-text>
          Likes
          <b-badge>{{ photo.likes }}</b-badge>
        </b-card-text>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
export default {
  props: {
    photo: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped>
.photo_card_inner {
  flex: 33.33%;
}

.photo_card_inner:hover {
  opacity: 0.85;
}
</style>
